* { 
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
body{

   background-color: #a58145;
   min-height: calc(100v-50px);
   font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.header {
    height: 60px;
    background-color: #003525 ;
    display: flex;
    justify-content: space-around;
    align-items: center ;
    margin-top: auto;
   position: fixed ;
   width:100% ;
}

.header ul {
    display: flex;
   gap: 40px;

}

.header ul li {
    list-style: none ;

}

.header ul li a {
    color: #a58145;
    text-decoration: none;
  

}


.header ul li a :hover {
    color: red;
    transition: .3s;
    
  

}

.article p {
    background-color: #a58145 ;
    display: flex;
    width: 100% ;
    
   height: 60px ;
}

.article img {
    display: flex;
    width: 100% ;
    
    
}

.article span {
    background-color: #a58145 ;
    display: flex;
    justify-content: center;
    width: 100% ;
    
}

.article2 p {
    background-color: #a58145 ;
    display: flex;
    justify-content: center;
    width: 100% ;
}

.article3 h3 {
    background-color: #003525 ;
    display: flex;
    justify-content: space-around;
    align-items: center ;
    margin-top: auto;
   width: 100% ;
   font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
   padding: 6px;
   color: #a58145 ;
   font-size:1.5rem ;
}

.article4 p {

    background-color: #a58145 ;
    display: flex;
    justify-content: space-around;
    align-items: center ;
    margin-top: auto;
   width: 100% ;
   gap: 30px;
}

.article5 h3 {
    background-color: #003525;
    display: flex;
    justify-content: space-around;
    align-items: center ;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
   width: 100% ;
   color: #a58145 ;
   padding: 5px;
   font-size:1.5rem ;
}

.article5 img {
    background-color: #a58145 ;
    display: flex;
    justify-content: space-around;
    align-items: center ;
   width: 100% ;
}

.article6{
    background-color: #003525 ;
    display: flex;
    justify-content: space-around;
    align-items: center ;
   
   width: 100% ;
}
.article7{
    
    background-color: #003525 ;
    display: flex;
    justify-content: space-around;
    align-items: center ;
    margin-top: auto;
   height: 23px;
   width: 100% ;
}
.article7 ul {
    display: flex;
   gap: 20px;

}

.article7 ul li {
    list-style: none ;

}

.article7 ul li a {
    color: #a58145;
    text-decoration: none;
    width: 100% ;

}
.article7 p {
    background-color: #a58145;
    text-align: center;
    width: 100% ;
    height: px;
}
.article8 {
    display: flex;
    justify-content: center;
    width: 100% ;
}

.about h2 {
    color: #003525 ;
    background-color: #a58145 ;
    display: flex;
    justify-content: space-around;
    align-items: center ;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 2rem;
    padding: 2px;
}
.about span{
    display: flex;
    justify-content: center;
    width: 100% ;
    font-size: 20px;
    padding: 15px;
}

.about p{
    display: flex;
    justify-content: center;
    width: 100% ;
    font-size: 20px;
    padding: 5px;
}

   
 













